## PANDAS

In [11]:
import pandas as pd
#print(dir(pd))

In [3]:
s=pd.Series()
print (s)

Series([], dtype: float64)

In [7]:
import numpy as np
data=np.array(['a','b','c'])
s=pd.Series(data,index=[100,101,102])
print(s)

100    a
101    b
102    c
dtype: object

In [10]:
data={'a':0,'b':1}
s=pd.Series(data)
print(s)

a    0
b    1
dtype: int64

## Dataframe

In [14]:
import pandas as pd
data=[['Alex',10],['Bob',12],['Sam',15]]
df=pd.DataFrame(data,columns=['Name','age'])
print(df)

   Name  age
0  Alex   10
1   Bob   12
2   Sam   15

In [31]:
d={'one':pd.Series([1,2,3],index=['a','b','c']),'two':pd.Series([4,5,6],index=['a','b','c'])}
df=pd.DataFrame(d)
df['%']=df['one']+df['two']
print(df)

   one  two  %
a    1    4  5
b    2    5  7
c    3    6  9

In [34]:
d={'one':pd.Series([1,2,3],index=['a','b','c']),'two':pd.Series([4,5,6],index=['a','b','c'])}
df=pd.DataFrame(d)
df['%']=df['one']+df['two']
df=df.pop('one')
print(df)

a    1
b    2
c    3
Name: one, dtype: int64

In [40]:
d={'one':pd.Series([1,2,3,4,5,6,7,8],index=['a','b','c','d','e','f','g','h']),'two':pd.Series([4,5,6,7,8,9,10,11],index=['a','b','c','d','e','f','g','h'])}
df=pd.DataFrame(d)

#df=df.append('one')
print(df)

   one  two
a    1    4
b    2    5
c    3    6
d    4    7
e    5    8
f    6    9
g    7   10
h    8   11

## Transpose

In [47]:
print (df.T)

     a  b  c  d  e  f   g   h
one  1  2  3  4  5  6   7   8
two  4  5  6  7  8  9  10  11

## Axes

In [44]:
print(df.axes[1])

Index(['one', 'two'], dtype='object')

## Datatype

In [48]:
print(df.size)

16

# To find the values

In [49]:
print(df.values)

[[ 1  4]
 [ 2  5]
 [ 3  6]
 [ 4  7]
 [ 5  8]
 [ 6  9]
 [ 7 10]
 [ 8 11]]

## Sum()

In [50]:
print(df.sum())

one    36
two    60
dtype: int64

## Mean

In [51]:
print(df.mean())

one    4.5
two    7.5
dtype: float64

In [52]:
print(df.max())

one     8
two    11
dtype: int64

# CumSum = sum of (C+P)

In [53]:
print(df.cumsum())

   one  two
a    1    4
b    3    9
c    6   15
d   10   22
e   15   30
f   21   39
g   28   49
h   36   60