## Generator in Python

A Python generator is a function which returns a generator iterator (just an object we can iterate over) by calling yield . yield may be called with a value, in which case that value is treated as the "generated" value.

In [5]:
def gen():
    n=0
    yield n+10
    yield n+20
    yield n+30
    yield n+40
    yield n+50

In [6]:
a=gen()

In [7]:
a

In [8]:
 next(a)

10

In [9]:
 next(a)

20

In [10]:
 next(a)

30

In [11]:
 next(a)

40

In [12]:
 next(a)

50

#### Example.1
Reverse of string using gen

In [ ]:
def rev_str(my_str):
    length=len(my_str)
    for i in range(length - 1,-1,-1):
        yield my_str[i]

In [17]:
rev_str

In [18]:
range(11- 1,-1,-1)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [20]:
for n in range(11 - 1,-1,-1):
    print(n)

10
9
8
7
6
5
4
3
2
1
0

### Using Generator in Tuples

In [21]:
## List

In [ ]:
my_list=[1,2,3,4,5,6]

In [22]:
 a=[x**2 for x in my_list]

In [23]:
a

[1, 4, 9, 16, 25, 36]

In [ ]:
## Tuples

In [24]:
 x=(x**2 for x in my_list)

In [25]:
x

In [27]:
next(x)

1

In [28]:
next(x)

4

In [29]:
next(x)

9

In [30]:
next(x)

16

In [31]:
next(x)

25

In [32]:
next(x)

36

In [34]:
 for n in rev_str('Hello'):
    print(n)

o
l
l
e
H